.container {
  width: 95%;
  max-width: 1250px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 40px;

  > h1 {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: bold;
  }

  main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }
}
